{% extends 'base.html.twig' %}

{% block title %}Оплата{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div><a href="{{ path('app_cart') }}" class="">Назад в корзину</a></div>

        <h1>Выберите способ оплаты</h1>
        <hr>


    </div>
{% endblock %}
